<h1>My App</h1>
Do not do it this way:<br>
<a href="/home">href="/Home"</a><br>
Because it causes a page refresh on an SPA=:(bad).<br><br>
Do it this way :)<br>
<a routerLink="home">routerLink="home"</a><br><br>
<a routerLink="settings">settings</a><br><br>
<a routerLink="settings/profile">profile</a><br><br>
<a routerLink="settings/contact">contact</a><br><br>
<a routerLink="error">Error 404!</a><br><br>

Pulling up pages with a member varable<br>
from "app.component.ts"<br>
<a [routerLink]="homeRoute">Home Route</a><br><br>
<a [routerLink]="settingsRoute">settings Route</a><br><br>

<h4>Looping through member varables for navation.</h4>
<li *ngFor="let route of routes"><a [routerLink]="route.url"> {{route.linkName}} </a></li>

<router-outlet></router-outlet>